<!DOCTYPE html>
<html ng-app="addEndpointApp">
<head>
    <title>healthMonitor</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body ng-controller="MainController">
<h1>Add Endpoints </h1>
<h5> {{result}}</h5>
<form ng-submit="submit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control form-control-sm" id="name" placeholder="name" name="name" ng-model="endpoint.name">
    </div>
    <div class="form-group">
        <label for="url">Url</label>
        <input type="text" class="form-control form-control-sm" id="url" placeholder="url" name="url" ng-model="endpoint.url">
    </div>
    <div class="form-group">
        <label for="sequence">Sequence</label>
        <input type="text" class="form-control form-control-sm" id="sequence" placeholder="sequence" name="sequence" ng-model="endpoint.sequence">
    </div>
    <div class="form-group">
        <label for="port">Port</label>
        <input type="text" class="form-control form-control-sm" id="port" placeholder="port" name="port" ng-model="endpoint.port">
    </div>
    <div class="form-group">
        <label for="header">Header</label>
        <input type="text" class="form-control form-control-sm" id="header" placeholder="header" name="header" ng-model="endpoint.header">
    </div>
    <div class="form-group">
        <label for="body">body</label>
        <textarea class="form-control" rows="5" id="body" placeholder="body" name="body" ng-model="endpoint.body"></textarea>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
            <button type="reset" class="btn btn-danger btn-lg">Reset</button>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/controller/addEndpointApp.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>