<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <title>healthMonitor</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body ng-controller="MainController">
<h1>healthMonitor</h1>
<h4>Refresh Count {{counter}}</h4>
<table class="table">
    <tr><td>Sequence</td><td>Name</td><td>Url</td><td>Port</td><td>Body</td><td>Header</td></tr>
    <tr ng-repeat="endpoint in endpoints"><td>{{endpoint.sequence}}</td><td>{{endpoint.name}}</td><td>{{endpoint.url}}</td><td>{{endpoint.port}}</td><td>{{endpoint.body}}</td><td>{{endpoint.header}}</td></tr>
</table>
<div>
    <a href="/addEndpoint" class="btn btn-info"><strong>Add Endpoint</strong></a>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/controller/mainApp.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>